<div class="flex justify-between items-center w-full mb-4">
  <app-search-bar></app-search-bar>
  <app-button label="Añadir Vehiculo" (click)="modalIsOpen()"></app-button>
</div>

<app-modal
  *ngIf="showAddVehiculoModal"
  title="Añadir vehiculo"
  (onClose)="handleClose()"
>
  <form class="space-y-6" action="#">
    <div>
      <label class="block mb-2 text-sm font-medium text-gray-900">Placa</label>
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="A010101"
        required
      />
    </div>
    <div>
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tipo de vehiculo</label
      >
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option selected>Seleccionar tipo de vehiculo</option>
        <!-- <option *ngFor="let tipoVeh of tiposVehiculos">{{tipoVeh.tipo}}</option> -->
      </select>
    </div>

    <button
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      Guardar
    </button>
  </form>
</app-modal>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Placa</th>
        <th scope="col" class="px-6 py-3">Tiempo Acumulado</th>
        <th scope="col" class="px-6 py-3">Deuda</th>
        <th scope="col" class="px-6 py-3">Tipo de Vehiculo</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let vehiculo of vehiculos | pagination : page"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ vehiculo.placa }}
        </th>
        <td class="px-6 py-4">{{ vehiculo.minutosAcumulados }} min</td>
        <td class="px-6 py-4">{{ vehiculo.deudaAcumulada }}$</td>
        <td class="px-6 py-4">
          {{ vehiculo.tipoVehiculo.tipo }}
        </td>
        <td class="px-6 py-4 flex space-x-4">
          <app-button label="Ver detalles"></app-button>
          <app-button label="Pagar"></app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav
    class="flex items-center justify-between pt-4 p-4"
    aria-label="Table navigation"
  >
    <span class="text-sm font-normal text-gray-500"
      >Showing <span class="font-semibold text-gray-900">1-10</span> of
      <span class="font-semibold text-gray-900">1000</span></span
    >
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <app-button label="Previus" (click)="prevPage()"></app-button>
      </li>
      <li>
        <a
          href="#"
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >1</a
        >
      </li>
      <li>
        <a
          href="#"
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >2</a
        >
      </li>
      <li>
        <a
          href="#"
          aria-current="page"
          class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
          >3</a
        >
      </li>
      <li>
        <a
          href="#"
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >...</a
        >
      </li>
      <li>
        <a
          href="#"
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >100</a
        >
      </li>
      <li>
        <app-button label="Next" (click)="nextPage()"></app-button>
      </li>
    </ul>
  </nav>
</div>
