<app-modal
  title="Finalizar estancia"
  (onClose)="closeEndStayModal()"
  *ngIf="showEndStayModal"
>
  <app-end-stay-form [stay]="selectedEstancia"></app-end-stay-form>
</app-modal>
<app-modal
  title="Registrar estancia"
  (onClose)="closeCreateStayModal()"
  *ngIf="showCreateStayModal"
>
  <app-create-stay-form></app-create-stay-form>
</app-modal>
<div class="flex flex-row-reverse mb-4">
  <app-button
    label="Añadir estancia"
    (onClick)="openCreateStayModal()"
  ></app-button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-4">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Entrada</th>
        <th scope="col" class="px-6 py-3">Salida</th>
        <th scope="col" class="px-6 py-3">Placa</th>
        <th scope="col" class="px-6 py-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b" *ngFor="let estancia of estancias">
        <td class="px-6 py-4">
          {{ estancia.fechaEntrada | date : "MMM dd, yy hh:mm a" }}
        </td>
        <td *ngIf="estancia.fechaSalida" class="px-6 py-4">
          {{ estancia.fechaSalida | date : "MMM dd, yy hh:mm a" }}
        </td>
        <td *ngIf="!estancia.fechaSalida" class="px-6 py-4">No ha salido</td>
        <td class="px-6 py-4">{{ estancia.vehiculo.placa }}</td>
        <td class="px-6 py-4">
          <app-button
            [disabled]="!!estancia.fechaSalida"
            label="Finalizar"
            href="#"
            (onClick)="openEndStayModal(estancia)"
          >
          </app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
